@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #10b981;
  color: white;
}

.active {
  font-style: italic;
}

nav {
  .menu-container {
    div {
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.line {
  position: absolute;
  width: 28px;
  border-radius: 100px;
}

input,
textarea {
  font-size: 16px;
}

.grecaptcha-badge {
  visibility: hidden;
}
