@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none; /* Firefox */
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url('../../public/assets/images/circuit-gold-green-close-dark.png');
    background-size: 50% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.active {
  font-style: italic;
}

nav {
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding: 35px 45px; */

  .menu-container {
    /* overflow-y: hidden; */

    div {
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

  button {
    align-self: flex-end;
    margin: 35px 45px 0 0;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 40px;

    li {
      margin: 20px 0;
      overflow-y: hidden;
      user-select: none;

      div {
        text-align: center;
        text-transform: capitalize;
        font-size: 34px;
      }

      &:hover {
        font-style: italic;
        cursor: pointer;
      }
    }
  }

  .contact {
    margin-top: 80px;
    display: flex;

    h5 {
      font-weight: normal;

      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
} */

.line {
  position: absolute;
  width: 28px;
  /* width: 100%; */
  border-radius: 100px;
  /* background-color: white; */
  /* background-color: rgb(0, 107, 5); */
}
